<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
    <test thread-count="5" name="E2E Tests">
        <classes>
            <class name="com.selenium.practice.tests.test.PracticeTest" />
        </classes>
    </test>
    <test thread-count="5" name="Error Validation Tests">
        <classes>
            <class name="com.selenium.practice.tests.test.ErrorValidationTest" />
        </classes>
    </test>
</suite>